/*=============================================
          pages/_about.scss
================================================*/
@use './../abstracts' as ab;
.about__section {
  position: relative;
  width: 100%;
  height: 100vh;
  z-index: 3;
  display: flex;
  flex-direction: row;
  justify-content: center;
  column-gap: 1.25em;
  @include ab.responsive-max-width(1370px){
    column-gap: 1.5em;
  }

  background-color: ab.$clr-augmented-000;
  &--image {
    position: relative;
    width: 30%;
    min-height: 100%;
    display: grid;
    place-items: center;
    background-color: ab.$clr-augmented-000;


    .about__image {
      position: relative;
      display: block;
      width: 100%;
      max-width: 320px;
      background-color: ab.$clr-augmented-300;
      border: 3px solid ab.$clr-augmented-400;
      border-radius: 5px;
      box-shadow: ab.set-box-shadow-bottom-right(bs-box-shadow-bottom-right-600);
    }
  }
  &--info {
    width: 70%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .about__info--container {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 100%;
      height: 100%;
      margin-bottom: 0.5em;
    }

    .about__info--title {
      margin-bottom: .5em;
      font-family: ab.$ff-primary-font;
      font-size: 2.441rem;
      font-weight: ab.$fw-font-weight-medium;
      color: ab.$clr-augmented-900;
      text-transform: uppercase;
      text-align: left;
      letter-spacing: 1px;
    }
    .about__info--text {
      font-size: 1.125rem;
      font-weight: ab.$fw-font-weight-normal;
      color: ab.$clr-augmented-900;
      line-height: 1.5;
      letter-spacing: 1px;
      hyphens: auto;
    }
  }
  .about__info--links {
    margin-top: .7em;
    display: flex;
    flex-direction: row;
    justify-content: start;

  }

  .about__info--single-link {
    @include ab.button-default();
    @include ab.background-transition-basic(ab.$clr-blue-01-900, ab.$clr-blue-01-600);
    font-weight: ab.$fw-font-weight-bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: ab.$clr-neutral-000;
    border-radius: 5px;
    box-shadow: ab.set-box-shadow-bottom-right(bs-box-shadow-bottom-right-700);

    &:hover,
    &:focus {
      color: ab.$clr-neutral-100;
    }
  }
  .about__info--single-link:not(:last-child) {
    margin-right: 1.5em;
  }


}