/*=============================================
          pages/_portfolio.scss
================================================*/
@use './../abstracts' as ab;
.portfolio__section {
  position: relative;
  width: 100%;
  height: 100vh;
  z-index: 3;
  display: flex;
  flex-direction: row;
  row-gap: 0.25em;
  @include ab.responsive-max-width(1370px) {
    column-gap: 1.5em;
  }

  background-color: ab.$clr-neutral-100;

}