/*=============================================
          pages/_portfolio.scss
================================================*/
@use './../abstracts' as ab;

.portfolio__section {
  position: relative;
  width: 100%;
  min-height: fit-content;
  z-index: 3;
  display: grid;
  place-items: center;
  /*display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;*/
  /*gap: 5em;
  padding-top: calc(7em + 5vw);*/
  gap: 1em;
  padding-top: 2em;
  padding-bottom: 2em;


  &--upper {
    position: relative;
    width: 66.667%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;


    .portfolio__section--title {
      position: relative;

      display: flex;
      flex-direction: column;
      /*justify-content: start;*/
      align-items: center;
      margin-bottom: 1em;
      font-family: ab.$ff-primary-font;
      font-size: 2.441rem;
      font-weight: ab.$fw-font-weight-bold;
      color: ab.$clr-augmented-900;
      text-transform: uppercase;
      text-align: center;
      letter-spacing: 1px;

    }

    .portfolio__section--container {
      position: relative;
      min-width: 100%;
      max-height: 50%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;


      .portfolio__filters {
        position: relative;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;

        .portfolio__filter {
          @include ab.button-default();
          @include ab.background-transition-basic(ab.$clr-blue-01-600, ab.$clr-blue-01-900);
          font-size: 0.85rem;
          font-weight: ab.$fw-font-weight-bold;
          text-transform: uppercase;
          letter-spacing: 1px;
          color: ab.$clr-neutral-000;
          border-radius: 5px;
          border-color: ab.$clr-blue-01-500;
          box-shadow: ab.set-box-shadow-bottom-right(bs-box-shadow-bottom-right-700);

          &.active {
            background-position: left bottom;
            color: ab.$clr-neutral-000;
          }
        }
      }
    }
  }

  &--bottom {
    position: relative;
    width: 100%;
    /*height: fit-content;*/
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 1.5em;
    grid-row-gap: 2.5em;
    padding-bottom: 3em;


    .portfolio__card {
      padding: 8px;
      background-color: ab.$clr-blue-01-900;

      figure img {
        margin-bottom: 0.5em;
      }

      &--title {
        color: ab.$clr-augmented-000;
        margin-bottom: 0.5em;
      }

      &--paragraph {
        background-color: ab.$clr-blue-01-900;
      }
    }


  }
}