/*
!*=============================================
          pages/_skills.scss
================================================*!
@use './../abstracts' as ab;

.skill__section {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.5em;
}
.skills__section--title {
  position: relative;
  top: 5%;
  margin-bottom:  1.5em;
  font-family: ab.$ff-primary-font;
  font-size: 2.441rem;
  font-weight: ab.$fw-font-weight-bold;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 1px;
  color: ab.$clr-augmented-900;
}

.skills__section__content {
  position: relative;
  min-width: 100%;
  min-height: 20%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1em;
  @include ab.responsive-max-width(1199px) {
    grid-template-columns: 1fr;

  }
}

.skills__section__content--left {
  background-color: #616161;
  @include ab.responsive-max-width(1199px) {
    grid-row-start: 2 / -1;
  }
}

.skills__section__content--right {
  position: relative;
  top: 10%;
  width: 100%;
  height: 100%;

  @include ab.responsive-max-width(1199px) {
    grid-row: 1 / -1;
  }
}
.skills__section--sub-title {
  margin-bottom: 0.5em;
  font-weight: ab.$fw-font-weight-medium;
  text-transform: capitalize;
  text-align: center;
  letter-spacing: 2px;

  .focused {
    color: ab.$clr-neutral-100;
    background-color: ab.$clr-blue-01-600;
  }

}



.progress__bars {
  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-rows: repeat(8, 1fr);
  grid-row-gap: 1.5em;
}
.skill {
  width: 100%;
  padding-right: 0;
}
.skill h4 {
  margin: 0;
  font-family: ab.$ff-secondary-font;
  font-weight: ab.$fw-font-weight-bold;
  font-size: 1.0125rem;
  line-height: 1.5;
  color: ab.$clr-augmented-700;

}
.progress {
  height: 1.5625em;
  background-color: ab.$clr-neutral-400;
  overflow: visible;
  box-shadow: ab.set-box-shadow-bottom-right(bs-box-shadow-bottom-right-600);
  border-radius: ab.$br-border-radius-300;
}
.progress-bar {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: ab.$clr-blue-01-900;
  border-top-left-radius: ab.$br-border-radius-300;
  border-bottom-left-radius: ab.$br-border-radius-300;
  white-space: nowrap;
  transition: width 0.6s ease;
}
.progress-bar span {
  position: absolute;
  left: 97%;
  top: -2.5em;
  width: 40px;
  padding: 4px;
  font-size: .9rem;
  font-weight: ab.$fw-font-weight-bold;
  letter-spacing: 1px;
  font-family: ab.$ff-monospace-font;
  color: ab.$clr-neutral-100;
  background-color: ab.$clr-blue-01-600;
  border-radius: ab.$br-border-radius-300;
}

.progress-bar span::before {
  content: '';
  position: absolute;
  bottom: -8px;
  left: 5%;
  border-top: 8px solid ab.$clr-blue-01-600;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
}






*/



/*=============================================
          pages/_skills.scss
================================================*/
@use './../abstracts' as ab;

.skills__section {
  position: relative;
  width: 100%;
  height: 100vh;
  z-index: 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.5em;



  &--title {
    position: relative;
    top: 5%;
    font-family: ab.$ff-primary-font;
    font-size: 2.441rem;
    font-weight: ab.$fw-font-weight-bold;
    color: ab.$clr-augmented-900;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 1px;
    @include ab.responsive-max-width(1199px) {
      margin-bottom: 0.667em;
    }
  }

  &__content {
    position: relative;
    min-width: 100%;
    min-height: 20%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2em;
    @include ab.responsive-max-width(1199px) {
      grid-template-columns: 1fr;
      column-gap: 0;
      gap: 1em;

    }

    &--left {
      position: relative;
      top: 10%;
      width: 100%;
      height: 100%;

      /*font-weight: ab.$fw-font-weight-bold;
      text-transform: capitalize;
      text-align: center;
      letter-spacing: 1px;*/

      @include ab.responsive-max-width(1199px) {
        top: 5%;
        min-height: 100vh;
        grid-row-start: 2;
      }

      .accordions {
        width: 100%;
        height: fit-content;

        display: flex;
        flex-direction: column;

        /*CSS for the main interaction*/
        .accordion > input[name=collapse] {
          display: none;

        }

        .accordion label,
        .accordion .content {
          max-width: 620px;
          margin: 0 auto;
          @include ab.responsive-max-width(1199px) {
            max-width: 100%;
          }
        }


        .accordion .content {
          background: #fff;
          overflow: hidden;
          height: 0;
          transition: 0.5s;
          box-shadow: ab.set-box-shadow-bottom-right(bs-box-shadow-bottom-right-600);
          border-bottom-left-radius: ab.$br-border-radius-300;
          border-bottom-right-radius: ab.$br-border-radius-300;
        }

        .accordion > input[name=collapse] ~ .content p {
          height: 192px;
          padding: 8px 16px;
          font-size: ab.$fs-font-size-001;
          font-weight: ab.$fw-font-weight-normal;
          text-align: left;
          text-transform: none;
          line-height: 1.5;
          letter-spacing: 1px;
          hyphens: auto;
          color: ab.$clr-augmented-900;
          background-color: ab.$clr-augmented-000;
          transition: height 0.5s;

          @include ab.responsive-max-width(1199px) {
            height: 104px;
          }
        }

        .accordion > input[name=collapse]:checked ~ .content p {
          height: 192px;
          padding: 8px 16px;
          font-size: ab.$fs-font-size-001;
          /*font-size: ab.set-fluid-body-text(fbt-fluid-body-text-p6);*/
          font-weight: ab.$fw-font-weight-normal;
          text-align: left;
          text-transform: none;
          line-height: 1.5;
          letter-spacing: 1px;
          hyphens: auto;
          color: ab.$clr-augmented-900;
          background-color: ab.$clr-augmented-000;
          transition: height 0.5s;

          @include ab.responsive-max-width(1199px) {
            height: 104px;
          }
        }

        .accordion label {
          display: block;

        }

        /* For Desktop */
        @media only screen and (min-width: 620px) {
          .accordion > input[name=collapse]:checked ~ .content {
            height: 120px;

            /*@include ab.responsive-max-width(1199px) {
              height: 104px;
            }*/
          }
        }

        .accordion {
          margin-bottom: 1em;
        }

        .accordion > input[name=collapse]:checked ~ .content {
          border-top: 0;
          transition: 0.3s;
        }

        .accordion .handle {
          margin: 0;
          font-size: 16px;

        }

        .accordion label {
          text-align: left;
          cursor: pointer;
          font-family: ab.$ff-secondary-font;
          font-weight: ab.$fw-font-weight-medium;
          padding: 8px;
          color: ab.$clr-neutral-000;
          background-color: ab.$clr-blue-01-900;
          background-position: right bottom;
          transition: all 0.25s ease-in-out;
          border-radius: ab.$br-border-radius-300;
          box-shadow: ab.set-box-shadow-bottom-right(bs-box-shadow-bottom-right-600);

        }

        .accordion label:hover {
          background-position: left bottom;
        }

        .accordion label:focus {
          background-color: ab.$clr-blue-01-600;
        }

        .accordion label:hover,
        .accordion label:focus {
          color: ab.$clr-neutral-100;
          background-color: ab.$clr-blue-01-600;

        }

        .accordion .handle label:before {
          font-family: FontAwesome;
          content: "\f107";
          display: inline-block;
          margin-right: 10px;
          font-size: 1em;
          line-height: 1.556em;
          vertical-align: middle;
          transition: 0.4s;

        }

        .accordion > input[name=collapse]:checked ~ .handle label {
          color: ab.$clr-neutral-100;
          background-color: ab.$clr-blue-01-600;
          border-bottom-left-radius: 0;
          border-bottom-right-radius: 0;

        }

        .accordion > input[name=collapse]:checked ~ .handle label:before {
          transform: rotate(180deg);
          transform-origin: center;
          transition: 0.4s;
        }
      }
    }

    &--right {
      position: relative;
      top: 10%;
      width: 100%;
      height: 100%;

      @include ab.responsive-max-width(1199px) {
        grid-row: 1 / -1;
      }
      .progress__bars {
        width: 100%;
        margin: 0 auto;
        display: grid;
        grid-template-rows: repeat(8, 1fr);
        grid-row-gap: 1.5em;
        @include ab.responsive-max-width(1199px) {
          grid-template-rows: repeat(6, 1fr);
        }

        .skill {
          width: 100%;
          padding-right: 0;

        }

        .skill h4 {
          margin: 0;
          color: ab.$clr-augmented-700;
          font-family: ab.$ff-secondary-font;
          font-weight: ab.$fw-font-weight-bold;
          font-size: 1.0125rem;
          line-height: 1.5;
        }

        .progress {
          height: 1.5625em;
          background-color: ab.$clr-neutral-400;
          overflow: visible;
          box-shadow: ab.set-box-shadow-bottom-right(bs-box-shadow-bottom-right-600);
          border-radius: ab.$br-border-radius-300;
        }

        .progress-bar {
          position: relative;
          display: flex;
          flex-direction: column;
          justify-content: center;
          background-color: ab.$clr-blue-01-900;
          border-top-left-radius: ab.$br-border-radius-300;
          border-bottom-left-radius: ab.$br-border-radius-300;
          white-space: nowrap;
          transition: width 0.6s ease;
        }

        .progress-bar span {
          position: absolute;
          left: 97%;
          top: -2.5em;
          width: 40px;
          padding: 4px;
          font-size: .9rem;
          font-weight: ab.$fw-font-weight-bold;
          letter-spacing: 1px;
          font-family: ab.$ff-monospace-font;
          color: ab.$clr-neutral-100;
          background-color: ab.$clr-blue-01-600;
          border-radius: ab.$br-border-radius-300;
        }

        .progress-bar span::before {
          content: '';
          position: absolute;
          bottom: -8px;
          left: 5%;
          border-top: 8px solid ab.$clr-blue-01-600;
          border-left: 6px solid transparent;
          border-right: 6px solid transparent;
        }

      }
    }

  }

  .skills__section--sub-title {
    margin-bottom: .5em;
    font-weight: ab.$fw-font-weight-medium;
    text-transform: capitalize;
    text-align: center;
    letter-spacing: 2px;
  }

  .focused {
    color: ab.$clr-neutral-100;
    background-color: ab.$clr-blue-01-600;
  }
}







@-webkit-keyframes progress-bar-stripes {
  from {
    background-position: 1rem 0
  }

  to {
    background-position: 0 0
  }
}

@keyframes progress-bar-stripes {
  from {
    background-position: 1rem 0
  }

  to {
    background-position: 0 0
  }
}

.progress {
  display: -ms-flexbox;
  display: flex;
  height: 1rem;
  overflow: hidden;
  font-size: .75rem;
  background-color: #e9ecef;
  border-radius: .25rem
}

.progress-bar {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: center;
  justify-content: center;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  background-color: #007bff;
  transition: width .6s ease
}

@media (prefers-reduced-motion: reduce) {
  .progress-bar {
    transition: none
  }
}

.progress-bar-striped {
  background-image: linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
  background-size: 1rem 1rem
}

.progress-bar-animated {
  -webkit-animation: progress-bar-stripes 1s linear infinite;
  animation: progress-bar-stripes 1s linear infinite
}

@media (prefers-reduced-motion: reduce) {
  .progress-bar-animated {
    -webkit-animation: none;
    animation: none
  }
}