/*=============================================
          pages/_skills.scss
================================================*/
@use './../abstracts' as ab;
.skills__section {
  position: relative;
  width: 100%;
  height: 100vh;
  z-index: 3;


  &--title{
    position: relative;
    top: 5%;
    font-family: ab.$ff-primary-font;
    font-size: 2.441rem;
    font-weight: ab.$fw-font-weight-bold;
    color: ab.$clr-augmented-900;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 1px;
  }
  &__content {
    position: relative;
    min-width: 100%;
    min-height: 20%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1rem;

    &--left {
      position: relative;
      top: 10%;
      width: 100%;
      height: 100%;
      font-weight: ab.$fw-font-weight-bold;
      text-transform: capitalize;
      text-align: center;
      letter-spacing: 1px;
      /*background-color: ab.$clr-blue-01-400;*/
      .accordions {
        width: 100%;
        height: fit-content;

        display: flex;
        flex-direction: column;

        /*
 CSS for the main interaction

*/

        .accordion > input[name="collapse"] {
          display: none;

          /*position: absolute;
          left: -100vw;*/
        }

        .accordion label,
        .accordion .content{
          max-width: 620px;
          margin: 0 auto;
        }


        .accordion .content {
          background: #fff;
          overflow: hidden;
          height: 0;
          transition: 0.5s;
          box-shadow: ab.set-box-shadow-bottom-right(bs-box-shadow-bottom-right-700);
          border-bottom-left-radius: ab.$br-border-radius-300;
          border-bottom-right-radius: ab.$br-border-radius-300;
        }

        .accordion > input[name="collapse"]:checked ~ .content p {
          height: 120px;
          padding: 8px 16px;
          font-size: ab.$fs-font-size-010;
          font-weight: ab.$fw-font-weight-normal;
          text-align: left;
          color: ab.$clr-augmented-900;
          line-height: 1.5;
          letter-spacing: 1px;
          hyphens: auto;
          transition: height 0.5s;
        }

        .accordion label {
          display: block;

        }

        /* For Desktop */
        @media only screen and (min-width: 620px){

          .accordion > input[name="collapse"]:checked ~ .content {
            height: 120px;

          }

        }

        .accordion {
          margin-bottom: 1em;
        }

        .accordion > input[name="collapse"]:checked ~ .content {
          border-top: 0;
          transition: 0.3s;
        }

        .accordion .handle {
          margin: 0;
          font-size: 16px;

        }

        .accordion label {
          text-align: left;
          cursor: pointer;
          font-family: ab.$ff-secondary-font;
          font-weight: ab.$fw-font-weight-medium;
          padding: 8px;
          color: ab.$clr-neutral-000;
          background-color: ab.$clr-blue-01-900;
          user-select: none;
          border-radius: ab.$br-border-radius-300;
          box-shadow: ab.set-box-shadow-bottom-right(bs-box-shadow-bottom-right-700);

        }

        .accordion label:hover,
        .accordion label:focus {
          color: ab.$clr-neutral-100;
          background-color: ab.$clr-blue-01-500;
          /*border-bottom-right-radius: 0;
          border-bottom-left-radius: 0;*/

        }

        .accordion .handle label:before {
          font-family: FontAwesome;
          content: "\f107";
          display: inline-block;
          margin-right: 10px;
          font-size: 1em;
          line-height: 1.556em;
          vertical-align: middle;
          transition: 0.4s;

        }
        .accordion > input[name="collapse"]:checked ~ .handle label {
          border-bottom-left-radius: 0;
          border-bottom-right-radius: 0;

        }

        .accordion > input[name="collapse"]:checked ~ .handle label:before {
          transform: rotate(180deg);
          transform-origin: center;
          transition: 0.4s;
        }
      }
    }
    &--right {
      position: relative;
      top: 10%;
      width: 100%;
      height: 100%;

      /*background-color: ab.$clr-blue-01-600;*/

      .progress__bars {
        width: 100%;
        margin: 0 auto;
        display: grid;
        /*grid-template-columns: repeat(2, 1fr);*/
        grid-template-rows: repeat(8, 1fr);
        /*grid-column-gap: 3em;*/
        grid-row-gap: 1.5em;
        /*padding-bottom: 3em;*/


        .skill {
          width: 100%;
          /*margin-bottom: 1.25em;*/
          /* padding-left: 1.5em; */
          padding-right: 0;

        }

        .skill h4 {
          margin: 0;
          color: ab.$clr-augmented-700;
          font-family: ab.$ff-secondary-font;
          font-weight: ab.$fw-font-weight-bold;
          font-size: 1.0125rem;
          /*font-size: 0.75rem;*/
          line-height: 1.5;
        }

        .progress {
          height: 1.5625em;
          border-radius: 0;
          /*background: #a9a9a9;*/
          background-color: ab.$clr-neutral-300;
          overflow: visible;
          /*box-shadow: 8px 13px 32px -4px rgba(0, 0, 0, 0.5);*/
          box-shadow: ab.set-box-shadow-bottom-right(bs-box-shadow-bottom-right-700);
          border-radius: ab.$br-border-radius-300;
        }

        .progress-bar {
          position: relative;
          display: flex;
          flex-direction: column;
          justify-content: center;
          background: ab.$clr-blue-01-900;
          /*box-shadow: 8px 13px 32px -4px rgba(0, 0, 0, 0.5);*/
          box-shadow: ab.set-box-shadow-bottom-right(bs-box-shadow-bottom-right-700);
          white-space: nowrap;
          transition: width 0.6s ease;
        }

        .progress-bar span {
          position: absolute;
          left: 97%;
          /*top: -2.8125em;*/
          top: -2.5em;
          width: 40px;
          padding: 4px;
          font-size: .9rem;
          font-weight: ab.$fw-font-weight-bold;
          letter-spacing: 1px;
          /*font-family: 'Lora', serif;*/
          font-family: ab.$ff-monospace-font;
          /*background-color: ab.$clr-blue-01-200;
          color: ab.$clr-blue-01-900;*/
          color: ab.$clr-neutral-100;
          background-color: ab.$clr-blue-01-500;
          border-radius: ab.$br-border-radius-300;
        }

        .progress-bar span::before {
          content: '';
          position: absolute;
          bottom: -8px;
          left: 5%;
          border-top: 8px solid ab.$clr-blue-01-200;
          border-top: 8px solid ab.$clr-blue-01-500;
          border-left: 6px solid transparent;
          border-right: 6px solid transparent;
        }

      }
    }

  }
  .skills__section--sub-title {
    margin-bottom: .5em;
    font-weight: ab.$fw-font-weight-medium;
    text-transform: capitalize;
    text-align: center;
    letter-spacing: 2px;
  }

}