/*=============================================
          components/_header.scss
================================================*/
@use './../abstracts' as ab;
.header {
  position: relative;
  min-height: 100vh;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;

  &__logo-container {
    position: absolute;
    top: 1.5rem;
    left: 4rem;
  }
  &__logo {
    height: 5rem;
  }

  &__video-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
  }
  &__video-item {
    width: 100%;
    /*height: 100%;*/
    -o-object-fit: cover;
    object-fit: cover;
  }
  &__video-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: hsla(210, 33%, 19%, 0.5);
    background: ab.$clr-blue-01-800;
    opacity: 0.5;
    z-index: 2;
  }

  &__content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &__content-heading {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: -2.5em;
  }
  &__content-heading--one {
    margin-bottom: -0.125em;
    font-size: 3rem;
    font-weight: 100;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: hsl(210deg, 71%, 96%);
  }
  &__content-heading--two {
    font-size: 3rem;
    font-weight: 100;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: hsl(210deg, 71%, 96%);
  }
  &__content-subheading {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2em;

  }
  &__content-subheading--one {
    font-family: ab.$ff-secondary-font;
    font-size: 2.5rem;
    font-weight: 400;
    /*text-transform: capitalize;*/
    letter-spacing: 1px;
    /*color: hsl(43deg, 59%, 50%);*/
    color: ab.$clr-neutral-400;
  }
  &__content-buttons {
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}
  &__button {
    /*margin: 0 .375em;*/
    font-family: ab.$ff-secondary-font;
    font-size: 1rem;
    font-weight: ab.$fw-font-weight-medium;
    letter-spacing: 1px;
    color: ab.$clr-neutral-900;
    text-align: center;
    text-transform: uppercase;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
    @include ab.anchor-default();
    @include ab.anchor-default-outline(transparent, ab.$clr-augmented-200);
    @include ab.background-transition-basic(transparent, ab.$clr-augmented-300);
    margin-bottom: 2.25em;
    padding: 12px 48px;
    border: 1px solid ab.$clr-augmented-200;
    border-radius: 3px;

    &:hover,
    &:focus {
      color: ab.$clr-blue-01-900;
      border-color: ab.$clr-augmented-300;
    }
  }

  &__button-arrow {
    position: relative;
    font-size: 2rem;
    color: ab.$clr-augmented-300;
    cursor: pointer;
    animation-name: animate-bounce-up-down;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    transition: all 1s;

    &:hover,
    &:focus {
      color: ab.$clr-augmented-100;
      -webkit-transform: scale(1.2);
      transform: scale(1.2);
    }
    & i.fa .fa-chevron-down {
    }
  }
}