/*=============================================
          components/_preloader.scss
================================================*/
@use './../abstracts' as ab;

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  z-index: 10000;
  overflow: hidden;
  background: ab.set-neutral-color(clr-neutral-800);
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;

&--gif {
  width: 50%;
  align-self: center;
}

}