@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600&family=Montserrat:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono&display=swap');

/*=============================================
          _variables.scss
================================================*/
//**************** fonts ****************//
$ff-primary-font: 'Lora', serif;
$ff-secondary-font: 'Montserrat', sans-serif;
$ff-monospace-font: 'Noto Sans Mono', monospace;

$font-families: (
     "ff-body-font": $ff-secondary-font,
     "ff-head-font": $ff-primary-font,
     'ff-mono-font': $ff-monospace-font
);

$fw-font-weight-light: 300;
$fw-font-weight-normal: 400;
$fw-font-weight-medium: 500;
$fw-font-weight-bold: 600;

$font-weights: (
     'fw-font-weight-light': $fw-font-weight-light,
     'fw-font-weight-normal': $fw-font-weight-normal,
     'fw-font-weight-medium': $fw-font-weight-medium,
     'fw-font-weight-bold': $fw-font-weight-bold
);

/**************** type scale ****************/
$fs-font-size-000: 0.5rem;
$fs-font-size-001: 0.667rem;
$fs-font-size-010: 0.75rem;
$fs-font-size-100: 1rem;
$fs-font-size-101: 1.125rem;
$fs-font-size-110: 1.250rem;
$fs-font-size-200: 1.50rem;
$fs-font-size-201: 1.75rem;
$fs-font-size-210: 2rem;
$fs-font-size-300: 2.5rem;
$fs-font-size-301: 2.75rem;
$fs-font-size-310: 3rem;
$fs-font-size-400: 3.5rem;

$font-sizes: (
  'fs-font-size-001': $fs-font-size-001,
  'fs-font-size-010': $fs-font-size-010,
  'fs-font-size-100': $fs-font-size-100,
  'fs-font-size-101': $fs-font-size-101,
  'fs-font-size-110': $fs-font-size-110,
  'fs-font-size-200': $fs-font-size-200,
  'fs-font-size-201': $fs-font-size-201,
  'fs-font-size-210': $fs-font-size-210,
  'fs-font-size-300': $fs-font-size-300,
  'fs-font-size-301': $fs-font-size-301,
  'fs-font-size-310': $fs-font-size-310,
  'fs-font-size-400': $fs-font-size-400,
);

$ffs-fluid-font-size-000: clamp(0.75rem, 1.5vw, 1rem);
$ffs-fluid-font-size-100: clamp(1rem, 2vw, 1.5rem);
$ffs-fluid-font-size-200: clamp(1.5rem, 3vw, 2.5rem);
$ffs-fluid-font-size-300: clamp(2rem, 4vw, 3.5rem);
$ffs-fluid-font-size-400: clamp(2.5rem, 5vw, 4rem);

$fluid-font-sizes: (
  'ffs-font-size-000': $ffs-fluid-font-size-000,
  'ffs-font-size-100': $ffs-fluid-font-size-100,
  'ffs-font-size-200': $ffs-fluid-font-size-200,
  'ffs-font-size-300': $ffs-fluid-font-size-300,
  'ffs-font-size-400': $ffs-fluid-font-size-400
);

$ts-text-size-xs: 0.5rem;
$ts-text-size-sm: 0.71rem;
$ts-text-size-md: 1rem;
$ts-text-size-lg: 1.41rem;
$ts-text-size-xl: 2rem;
$ts-text-size-2xl: 2.83rem;
$ts-text-size-3xl: 4rem;
$ts-text-size-4xl: 5.65rem;
$ts-text-size-5xl: 7.99rem;

$text-sizes: (
     'ts-text-size-xs': $ts-text-size-xs,
     'ts-text-size-sm': $ts-text-size-sm,
     'ts-text-size-md': $ts-text-size-md,
     'ts-text-size-lg': $ts-text-size-lg,
     'ts-text-size-xl': $ts-text-size-xl,
     'ts-text-size-2xl': $ts-text-size-2xl,
     'ts-text-size-3xl': $ts-text-size-3xl,
     'ts-text-size-4xl': $ts-text-size-4xl,
     'ts-text-size-5xl': $ts-text-size-5xl
);


$fs-fluid-space-000: clamp(.5rem, 1vw, 1rem);
$fs-fluid-space-100: clamp(1rem, 2vw, 1.5rem);
$fs-fluid-space-200: clamp(1.5rem, 3vw, 2rem);
$fs-fluid-space-300: clamp(2rem, 4vw, 3rem);
$fs-fluid-space-400: clamp(4rem, 5vw, 5rem);
$fs-fluid-space-500: clamp(5rem, 7vw, 7.5rem);
$fs-fluid-space-600: clamp(7.5rem, 10vw, 10rem);
$fs-fluid-space-700: clamp(10rem, 20vw, 15rem);
$fs-fluid-space-800: clamp(15rem, 30vw, 20rem);
$fs-fluid-space-900: clamp(20rem, 40vw, 30rem);

$fluid-spaces: (
     'fs-fluid-space-000': $fs-fluid-space-000,
     'fs-fluid-space-100': $fs-fluid-space-100,
     'fs-fluid-space-200': $fs-fluid-space-200,
     'fs-fluid-space-300': $fs-fluid-space-300,
     'fs-fluid-space-400': $fs-fluid-space-400,
     'fs-fluid-space-500': $fs-fluid-space-500,
     'fs-fluid-space-600': $fs-fluid-space-600,
     'fs-fluid-space-700': $fs-fluid-space-700,
     'fs-fluid-space-800': $fs-fluid-space-800,
     'fs-fluid-space-900': $fs-fluid-space-900
);

/**************** colors ****************/
//primary colors
$clr-blue-01-000: hsl(210, 51%, 94%);
$clr-blue-01-100: hsl(210, 51%, 89%);
$clr-blue-01-200: hsl(210, 51%, 78%);
$clr-blue-01-300: hsl(210, 51%, 67%);
$clr-blue-01-400: hsl(210, 51%, 55%);
$clr-blue-01-500: hsl(210, 64%, 44%);
$clr-blue-01-600: hsl(210, 64%, 39%);
$clr-blue-01-700: hsl(210, 64%, 34%);
$clr-blue-01-800: hsl(210, 64%, 28%);
$clr-blue-01-900: hsl(210, 64%, 23%);

$primary-colors: (
     'clr-blue-01-000':$clr-blue-01-000,
     'clr-blue-01-100':$clr-blue-01-100,
     'clr-blue-01-200':$clr-blue-01-200,
     'clr-blue-01-300':$clr-blue-01-300,
     'clr-blue-01-400':$clr-blue-01-400,
     'clr-blue-01-500':$clr-blue-01-500,
     'clr-blue-01-600':$clr-blue-01-600,
     'clr-blue-01-700':$clr-blue-01-700,
     'clr-blue-01-800':$clr-blue-01-800,
     'clr-blue-01-900':$clr-blue-01-900
);

//neutral colors
$clr-neutral-000: hsl(210, 0%, 98%);
$clr-neutral-100: hsl(210, 0%, 88%);
$clr-neutral-200: hsl(210, 0%, 78%);
$clr-neutral-300: hsl(210, 0%, 68%);
$clr-neutral-400: hsl(210, 0%, 58%);
$clr-neutral-500: hsl(210, 0%, 48%);
$clr-neutral-600: hsl(210, 0%, 38%);
$clr-neutral-700: hsl(210, 0%, 28%);
$clr-neutral-800: hsl(210, 0%, 18%);
$clr-neutral-900: hsl(210, 0%, 10%);

$neutral-colors: (
     'clr-neutral-000': $clr-neutral-000,
     'clr-neutral-100': $clr-neutral-100,
     'clr-neutral-200': $clr-neutral-200,
     'clr-neutral-300': $clr-neutral-300,
     'clr-neutral-400': $clr-neutral-400,
     'clr-neutral-500': $clr-neutral-500,
     'clr-neutral-600': $clr-neutral-600,
     'clr-neutral-700': $clr-neutral-700,
     'clr-neutral-800': $clr-neutral-800,
     'clr-neutral-900': $clr-neutral-900
);

//augmented colors
$clr-augmented-000: hsl(210, 12%, 98%);
$clr-augmented-100: hsl(210, 12%, 88%);
$clr-augmented-200: hsl(210, 12%, 78%);
$clr-augmented-300: hsl(210, 15%, 68%);
$clr-augmented-400: hsl(210, 15%, 58%);
$clr-augmented-500: hsl(210, 15%, 48%);
$clr-augmented-600: hsl(210, 15%, 38%);
$clr-augmented-700: hsl(210, 20%, 28%);
$clr-augmented-800: hsl(210, 25%, 18%);
$clr-augmented-900: hsl(210, 30%, 10%);

$augmented-colors: (
     'clr-augmented-000': $clr-augmented-000,
     'clr-augmented-100': $clr-augmented-100,
     'clr-augmented-200': $clr-augmented-200,
     'clr-augmented-300': $clr-augmented-300,
     'clr-augmented-400': $clr-augmented-400,
     'clr-augmented-500': $clr-augmented-500,
     'clr-augmented-600': $clr-augmented-600,
     'clr-augmented-700': $clr-augmented-700,
     'clr-augmented-800': $clr-augmented-800,
     'clr-augmented-900': $clr-augmented-900,
);

//assigned colors
$assigned-colors: (
     'clr-primary-color': $clr-blue-01-900,
     'clr-background-color': $clr-blue-01-000,
     'clr-textfield-inactive': $clr-neutral-300,
     'clr-textfield-active': $clr-augmented-200,
     'clr-input-inactive': $clr-neutral-300,
     'clr-input-active': $clr-augmented-200,
     'clr-text-dark': $clr-augmented-800,
     'clr-text-medium': $clr-augmented-700,
     'clr-text-light': $clr-augmented-600
);

//semantic alert colors
$clr-semantic-a-400: hsla(0, 96%, 33%, 100%);
$clr-semantic-a-300: hsla(0, 96%, 38%, 100%);
$clr-semantic-a-200: hsla(0, 96%, 43%, 100%);
$clr-semantic-a-100: hsla(0, 96%, 48%, 100%);

$semantic-alert-colors: (
     'clr-semantic-a-100': $clr-semantic-a-100,
     'clr-semantic-a-200': $clr-semantic-a-200,
     'clr-semantic-a-300': $clr-semantic-a-300,
     'clr-semantic-a-400': $clr-semantic-a-400
);


//semantic inform colors
$clr-semantic-i-400: hsla(215, 96%, 33%, 100%);
$clr-semantic-i-300: hsla(215, 96%, 38%, 100%);
$clr-semantic-i-200: hsla(215, 96%, 43%, 100%);
$clr-semantic-i-100: hsla(215, 96%, 48%, 100%);

$semantic-inform-colors: (
     'clr-semantic-i-100': $clr-semantic-i-100,
     'clr-semantic-i-200': $clr-semantic-i-200,
     'clr-semantic-i-300': $clr-semantic-i-300,
     'clr-semantic-i-400': $clr-semantic-i-400
);

//semantic success colors
$clr-semantic-s-400: hsla(100, 96%, 33%, 100%);
$clr-semantic-s-300: hsla(100, 96%, 38%, 100%);
$clr-semantic-s-200: hsla(100, 96%, 43%, 100%);
$clr-semantic-s-100: hsla(100, 96%, 48%, 100%);

$semantic-success-colors: (
     'clr-semantic-s-100': $clr-semantic-s-100,
     'clr-semantic-s-200': $clr-semantic-s-200,
     'clr-semantic-s-300': $clr-semantic-s-300,
     'clr-semantic-s-400': $clr-semantic-s-400
);

//semantic warn colors
$clr-semantic-w-400: hsla(48, 96%, 50%, 100%);
$clr-semantic-w-300: hsla(48, 96%, 55%, 100%);
$clr-semantic-w-200: hsla(48, 96%, 60%, 100%);
$clr-semantic-w-100: hsla(48, 96%, 65%, 100%);


$semantic-warn-color: (
     'clr-semantic-w-100': $clr-semantic-w-100,
     'clr-semantic-w-200': $clr-semantic-w-200,
     'clr-semantic-w-300': $clr-semantic-w-300,
     'clr-semantic-w-400': $clr-semantic-w-400
);


//**************** timing functions ****************//
$tf-timing-function-basic-01: cubic-bezier(0.26, 0.1, 0.27, 1.55);
$tf-timing-function-basic-02: cubic-bezier(0.17, 0.67, 0.83, 0.67);
$tf-timing-function-ease: cubic-bezier(0.19, 0.08, 0.46, 0.99);
$tf-timing-function-ease-in: cubic-bezier(0.33, 0.02, 0.84, 0.75);
$tf-timing-function-ease-out: cubic-bezier(0.05, 0.21, 0.66, 0.98);
$tf-timing-function-ease-in-out: cubic-bezier(0.38, 0, 0.57, 0.99);
$tf-timing-function-linear: cubic-bezier(0.19, 0.08, 0.84, 0.75);
$tf-timing-function-smooth: cubic-bezier(0.1, 0.7, 0.6, 0.9);
$tf-timing-function-snappy: cubic-bezier(0.5, 0, 0.4, 0.98);
$tf-timing-function-snappy2: cubic-bezier(.17, .67, .83, .67);

$timing-functions: (
     'tf-timing-function-basic-01': $tf-timing-function-basic-01,
     'tf-timing-function-basic-02': $tf-timing-function-basic-02,
     'tf-timing-function-ease': $tf-timing-function-ease,
     'tf-timing-function-ease-in': $tf-timing-function-ease-in,
     'tf-timing-function-ease-out': $tf-timing-function-ease-out,
     'tf-timing-function-ease-in-out': $tf-timing-function-ease-in-out,
     'tf-timing-function-linear': $tf-timing-function-linear,
     'tf-timing-function-smooth': $tf-timing-function-smooth,
     'tf-timing-function-snappy': $tf-timing-function-snappy,
     'tf-timing-function-snappy2': $tf-timing-function-snappy2
);

//**************** box shadows ****************//
//box-shadow-bottom
$bs-box-shadow-bottom-000: 0px 8px 8px -5px rgba(34, 40, 45, 0.15);
$bs-box-shadow-bottom-100: 0px 8px 8px -5px rgba(34, 40, 45, 0.25);
$bs-box-shadow-bottom-200: 0px 8px 8px -5px rgba(34, 40, 45, 0.35);
$bs-box-shadow-bottom-300: 0px 8px 8px -3px rgba(34, 40, 45, 0.15);
$bs-box-shadow-bottom-400: 0px 8px 8px -3px rgba(34, 40, 45, 0.25);
$bs-box-shadow-bottom-500: 0px 8px 8px -3px rgba(34, 40, 45, 0.35);
$bs-box-shadow-bottom-600: 0px 8px 8px 0px rgba(34, 40, 45, 0.15);
$bs-box-shadow-bottom-700: 0px 8px 8px 0px rgba(34, 40, 45, 0.25);
$bs-box-shadow-bottom-800: 0px 8px 8px 0px rgba(34, 40, 45, 0.35);
$bs-box-shadow-bottom-900: 0px 8px 8px 0px rgba(34, 40, 45, 0.55);

$box-shadow-bottom: (
    'bs-box-shadow-bottom-000': $bs-box-shadow-bottom-000,
    'bs-box-shadow-bottom-100': $bs-box-shadow-bottom-100,
    'bs-box-shadow-bottom-200': $bs-box-shadow-bottom-200,
    'bs-box-shadow-bottom-300': $bs-box-shadow-bottom-300,
    'bs-box-shadow-bottom-400': $bs-box-shadow-bottom-400,
    'bs-box-shadow-bottom-500': $bs-box-shadow-bottom-500,
    'bs-box-shadow-bottom-600': $bs-box-shadow-bottom-600,
    'bs-box-shadow-bottom-700': $bs-box-shadow-bottom-700,
    'bs-box-shadow-bottom-800': $bs-box-shadow-bottom-800,
    'bs-box-shadow-bottom-900': $bs-box-shadow-bottom-900,
);

//box-shadow-right
$bs-box-shadow-right-000: 8px 0px 8px -5px rgba(34, 40, 45, 0.15);
$bs-box-shadow-right-100: 8px 0px 8px -5px rgba(34, 40, 45, 0.25);
$bs-box-shadow-right-200: 8px 0px 8px -5px rgba(34, 40, 45, 0.35);
$bs-box-shadow-right-300: 8px 0px 8px -3px rgba(34, 40, 45, 0.15);
$bs-box-shadow-right-400: 8px 0px 8px -3px rgba(34, 40, 45, 0.25);
$bs-box-shadow-right-500: 8px 0px 8px -3px rgba(34, 40, 45, 0.35);
$bs-box-shadow-right-600: 8px 0px 8px 0px rgba(34, 40, 45, 0.15);
$bs-box-shadow-right-700: 8px 0px 8px 0px rgba(34, 40, 45, 0.25);
$bs-box-shadow-right-800: 8px 0px 8px 0px rgba(34, 40, 45, 0.35);
$bs-box-shadow-right-900: 8px 0px 8px 0px rgba(34, 40, 45, 0.55);

$box-shadow-right: (
    'bs-box-shadow-right-000': $bs-box-shadow-right-000,
    'bs-box-shadow-right-100': $bs-box-shadow-right-100,
    'bs-box-shadow-right-200': $bs-box-shadow-right-200,
    'bs-box-shadow-right-300': $bs-box-shadow-right-300,
    'bs-box-shadow-right-400': $bs-box-shadow-right-400,
    'bs-box-shadow-right-500': $bs-box-shadow-right-500,
    'bs-box-shadow-right-600': $bs-box-shadow-right-600,
    'bs-box-shadow-right-700': $bs-box-shadow-right-700,
    'bs-box-shadow-right-800': $bs-box-shadow-right-800,
    'bs-box-shadow-right-900': $bs-box-shadow-right-900,
);

//box-shadow-bottom-right
$bs-box-shadow-bottom-right-000: 3px 3px 8px -1px rgba(34, 40, 45, 0.15), 3px 3px 8px -1px rgba(34, 40, 45, 0.15);
$bs-box-shadow-bottom-right-100: 3px 3px 8px -1px rgba(34, 40, 45, 0.25), 3px 3px 8px -1px rgba(34, 40, 45, 0.25);
$bs-box-shadow-bottom-right-200: 3px 3px 8px -1px rgba(34, 40, 45, 0.35), 3px 3px 8px -1px rgba(34, 40, 45, 0.35);
$bs-box-shadow-bottom-right-300: 5px 3px 13px -1px rgba(34, 40, 45, 0.15), 5px 3px 13px -1px rgba(34, 40, 45, 0.15);
$bs-box-shadow-bottom-right-400: 5px 3px 13px -1px rgba(34, 40, 45, 0.25), 5px 3px 13px -1px rgba(34, 40, 45, 0.25);
$bs-box-shadow-bottom-right-500: 5px 3px 13px -1px rgba(34, 40, 45, 0.35), 5px 3px 13px -1px rgba(34, 40, 45, 0.35);
$bs-box-shadow-bottom-right-600: 5px 3px 21px -1px rgba(34, 40, 45, 0.15), 5px 3px 21px -1px rgba(34, 40, 45, 0.15);
$bs-box-shadow-bottom-right-700: 5px 3px 21px -1px rgba(34, 40, 45, 0.25), 5px 3px 21px -1px rgba(34, 40, 45, 0.25);
$bs-box-shadow-bottom-right-800: 5px 3px 21px -1px rgba(34, 40, 45, 0.35), 5px 3px 21px -1px rgba(34, 40, 45, 0.35);
$bs-box-shadow-bottom-right-900: 5px 3px 5px -1px rgba(34, 40, 45, 0.25), 5px 3px 5px -1px rgba(34, 40, 45, 0.25);

$box-shadow-bottom-right: (
    'bs-box-shadow-bottom-right-000': $bs-box-shadow-bottom-right-000,
    'bs-box-shadow-bottom-right-100': $bs-box-shadow-bottom-right-100,
    'bs-box-shadow-bottom-right-200': $bs-box-shadow-bottom-right-200,
    'bs-box-shadow-bottom-right-300': $bs-box-shadow-bottom-right-300,
    'bs-box-shadow-bottom-right-400': $bs-box-shadow-bottom-right-400,
    'bs-box-shadow-bottom-right-500': $bs-box-shadow-bottom-right-500,
    'bs-box-shadow-bottom-right-600': $bs-box-shadow-bottom-right-600,
    'bs-box-shadow-bottom-right-700': $bs-box-shadow-bottom-right-700,
    'bs-box-shadow-bottom-right-800': $bs-box-shadow-bottom-right-800,
    'bs-box-shadow-bottom-right-900': $bs-box-shadow-bottom-right-900
);

//**************** border-radius ****************//
$br-border-radius-000: 1px;
$br-border-radius-100: 2px;
$br-border-radius-200: 3px;
$br-border-radius-300: 5px;
$br-border-radius-400: 8px;
$br-border-radius-500: 13px;
$br-border-radius-600: 21px;
$br-border-radius-700: 34px;
$br-border-radius-800: 55px;
$br-border-radius-900: 50%;

$border-radius: (
  'br-border-radius-000': $br-border-radius-000,
  'br-border-radius-100': $br-border-radius-100,
  'br-border-radius-200': $br-border-radius-200,
  'br-border-radius-300': $br-border-radius-300,
  'br-border-radius-400': $br-border-radius-400,
  'br-border-radius-500': $br-border-radius-500,
  'br-border-radius-600': $br-border-radius-600,
  'br-border-radius-700': $br-border-radius-700,
  'br-border-radius-800': $br-border-radius-800,
  'br-border-radius-900': $br-border-radius-900
);